@mixin button {
  background-color: $color-red;
  border: none;
  outline: none;
  color: $color-white;
  cursor: pointer;
  height: 41px;
  font-weight: 900;
  font-size: 18px;
  line-height: 17px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 12px 40px;
  @media (min-width: 540px) {
    font-size: 30px;
    padding: 20px 78px;
    line-height: 29px;
    height: 70px;
  }
  @media (min-width: 992px) {
    transition: background-color .2s;
    &:hover {
      background-color: lighten($color: $color-red, $amount: 25%);
    }
  }

}