// Import style libraries
@import "slick.scss";
@import "slick-theme.scss";
@import "bootstrap4.scss";
@import "colors";
@import "buttons";
@import "variables";

//fonts
@font-face {
  font-family: "Gotham Pro";
  font-weight: normal;
  src: url("../fonts/GOTHAPROLIG.OTF") format("opentype");
}
@font-face {
  font-family: "Gotham Pro";
  font-weight: bold;
  src: url("../fonts/GOTHAPROBOL.OTF") format("opentype");
}

//Base styles
html,
body {
  height: 100%;
}

body {
  font-family: "Gotham Pro", sans-serif;
  font-style: normal;
  background-color: $color-white;
  @media (min-width: 576px) {

  }
}

h1 {
  color: $color-white;
  font-size: 30px;
  font-weight: 900;
  line-height: 50px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  @media (min-width: 576px) {

  }
}

h2 {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

section {
  background-size: cover;
  background-position: center;
}

.blackSection {
  background-color: $color-darkgray;
  p {
    color: $color-white;
    text-transform: uppercase;

  }
}
//Base styles end

// main section start
.main {
  h1 {
    margin: 60px 0 36px;
  }
  p {
    padding-right: 10%;
    margin-bottom: 53px;
    line-height: 40px;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.15em;
    font-weight: 200;
  }
  img {
    height: 100%;
  }
  button {
    @include button;
    padding: 20px 78px;
    margin-bottom: 60px;
  }
}

// main section end

// services section start
.services {
  position: relative;
  padding-top: 62px;
  //img, p {
  //  display: inline-block;
  //}
  div.row {
    margin-bottom: 64px;
  }
  p {
    padding-left: 50px;
    font-size: 18px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }
  img {
    display: block;
    position: static;
    top: 0;
    left: 0;
    margin: 0 auto;
    @media (min-width: 768px) {
      position: absolute;
    }
  }
}

// services section end

// additionalCourse section start
.additionalCourse {
  padding-top: 58px;
  p {
    padding-right: 10%;
    margin-top: 7px;
    font-weight: 300;
    font-size: 18px;
    line-height: 35px;
  }
  button {
    @include button;
    padding: 20px 78px;
    margin-bottom: 60px;
  }
}

// additionalCourse section end

// askQuestion section start
.askQuestion {
  text-align: center;
  padding-top: 47px;
  p {
    margin-bottom: 51px;
    font-weight: bold;
    font-size: 18px;
    line-height: 35px;
    text-transform: capitalize;
  }
  button {
    @include button;
    padding: 20px 78px;
    margin-bottom: 60px;
  }
}