<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
        <link rel="stylesheet" href="css/style.css"/>
        <title></title>
    </head>

    <body>
        <header>
            <div class="container">
                <div class="row intro">
                    <div class="intro-logo col-lg-2">
                        <a href="/">
                            <img src="img/logo.svg" alt="logo">
                        </a>
                    </div>
                    <div class="intro-text col-12 col-lg-7">
                        <h1>барабанный инструктор
                            <span class="intro-name">чуприкова марина</span>
                            <span class="intro-phone">+7-926-246-47-59</span>
                        </h1>
                    </div>
                    <div class="intro-social col-3">
                        <a href="https://vk.com/drumsinstructor">
                            <img src="img/003-vk-social-logotype.png" alt="vk-social">
                        </a>
                        <a href="https://www.instagram.com/druminstructor/?igshid=1pjyzo2wkijby">
                            <img src="img/001-instagram.png" alt="instagram">
                        </a>
                        <a href="https://www.facebook.com/marina.chuprikova.drums">
                            <img src="img/004-facebook.png" alt="facebook">
                        </a>
                        <a href="https://www.youtube.com/channel/UCJrjHKuYEp50EPhtWg-eVUQ">
                            <img src="img/youtube-header.svg" alt="youtube">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <nav class="offset-lg-2 col-lg-10 nav">
                        <a href="main" class="nav-item scroll-button">УДАРНАЯ УСТАНОВКА</a>
                        <a href="additionalCourse" class="nav-item scroll-button">РИТМСОЛЬФЕДЖИО</a>
                        <a href="about" class="nav-item scroll-button">О ПРЕПОДАВАТЕЛЕ</a>
                        <a href="feedback" class="nav-item scroll-button">отзывы</a>
                    </nav>
                </div>
            </div>

        </header>